USE [SIGEEA_BD]
GO
/****** Object:  Table [dbo].[SIGEEA_UniMedida]    Script Date: 2/3/2017 8:38:08 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SIGEEA_UniMedida](
	[PK_Id_UniMedida] [int] IDENTITY(1,1) NOT NULL,
	[Nombre_UniMedida] [varchar](25) NOT NULL,
	[Estado] [bit] NOT NULL,
 CONSTRAINT [PK_SIGEEA_UniMedida] PRIMARY KEY CLUSTERED 
(
	[PK_Id_UniMedida] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[SIGEEA_UniMedida] ON 

INSERT [dbo].[SIGEEA_UniMedida] ([PK_Id_UniMedida], [Nombre_UniMedida], [Estado]) VALUES (1, N'Uni', 1)
INSERT [dbo].[SIGEEA_UniMedida] ([PK_Id_UniMedida], [Nombre_UniMedida], [Estado]) VALUES (2, N'Kg', 1)
INSERT [dbo].[SIGEEA_UniMedida] ([PK_Id_UniMedida], [Nombre_UniMedida], [Estado]) VALUES (3, N'Gr', 1)
SET IDENTITY_INSERT [dbo].[SIGEEA_UniMedida] OFF
